VITE_API_URL="http://localhost:3000/"
VITE_LINK="http://localhost:5173/"
VITE_FIREBASE_API_KEY = "Your Firebase Api key here" 
VITE_FIREBASE_AUTH_DOMAIN = "Your Firebase Auth domain here"
VITE_FIREBASE_PROJECT_ID = "Your Firebase Project ID here"
VITE_FIREBASE_STORAGE_BUCKET = "Your Firebase Storage bucket here"
VITE_FIREBASE_MESSAGING_SENDER_ID = "Your Firebase Messaging sender ID here"
VITE_FIREBASE_APP_ID = "Your Firebase App ID here"